<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.skoredev.stacks.phpStack</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>title</key>
	<string>Code PHP</string>
	<key>subtitle</key>
	<string>Code in PHP</string>
	<key>group</key>
	<string>Skore Tech</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>default</key>
			<false/>
			<key>falseValue</key>
			<string></string>
			<key>id</key>
			<string>collapseA</string>
			<key>title</key>
			<string>Collapse PHP Stack</string>
			<key>trueValue</key>
			<string>#%id% .colA{ display: none; }#%id% .headCode{ color:#FFF;background-color: #646464; }</string>
			<key>type</key>
			<string>checkbox</string>
		</dict>
	</array>
	<key>icon</key>
	<string>icon</string>
	<key>type</key>
	<string>stack</string>
	<key>requiresPhp</key>
	<true/>
	<key>phpSession</key>
	<true/>
	<key>requiresPhpBuffer</key>
	<true/>
	<key>templateFile</key>
	<string>template.php</string>
	<key>cssFile</key>
	<string>style.css</string>
	<key>tags</key>
	<array>
		<string>PHP</string>
		<string>Code</string>
		<string>Utility</string>
		<string>Form</string>
		<string>YourHead Software</string>
		<string>Rapid Weaver</string>
		<string>Stacks</string>
		<string>iSkore</string>
		<string>iSkore Development Inc.</string>
	</array>
</dict>
</plist>
